:root {
    --background-image: url("../Image/background.png");
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--bgColor);
    background-image: url("../Image/background.png");
    background-position: 75% 85%;
    overflow: hidden;
    margin: 0;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    font-size: 20px;
    color: black;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
}

.back-button:hover {
    background-color: blue; 
    color: #fff; 
}

.container {
  background: rgb(99, 193, 219, 0.7);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 70vh;
}

.header {
    text-align: center;
}

li {
    font-size: 19px;
}